/*
Top color(Registration): #9ab368
bg color: #e8f2d7
Button (GO): #536035

#D0D0D0
*/

body {
  font-family: 'Arial', sans-serif;
}

form {
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  
}

h4,h5 {
  background-color: #9AB368;
  text-align: center;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  margin: 0;
}

#form-group {
  padding: 20px 20px;
  background-color: #E8F2D7;
}

.form-elements {
  margin-top: 15px;
  text-align: left;
}

#receive {
  width: 300px;
  font-weight: bold;
}

#notify {
  font-size: 13px;
  margin-top: -1px;
}

#notify-center {
  font-size: 14px;
  text-align: center;
}

label#notifyText {
  width: 80%;
}

label {
  font-size: 14px;
  text-align: left;
  font-weight: bold;
  display: inline-block;
  width: 120px;
}

input[type="text"] {
  width: 230px;
}

textarea {
  resize: vertical;
  margin-top: 5px;
}

#button {
  text-align: center;
}

#submitButton {
  background-color: #65763A;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 8px;
  height: 25px;
}


textarea {
  width: 450px;
}